div{
    width: 500px;
    border: 1px solid gray;
    padding: 15px;

}

   
h2{
    color: blue;
}
p{
    font-size: 12px;
    margin-left: 20px;
}
.blue{
    color: blue;
    
}
#easy p{
    margin-left: 0;
    line-height: 25px;
    
}